body {
	background-color: darkcyan;
	color: forestgreen;
}

h1 {
	color: lightgrey;
	text-align: center;
	font-family: 'Verdana';
}

.row {
	color: black;
}

.center-box {
	font-family: 'Cabin';
	font-size: 24;
	text-align: center;
	width: 100%;
	color: cornsilk;
	position: absolute;
	bottom: 55%;
}

.footer {
	color: lightgray;
	font-size: 8;
	text-align: center;
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
}

.new-entry-box {
	font-family: monospace;
	font-size: 12px;
	margin-top: -15px;
	background-color: darkblue;
	text-align: left;
}
