body {
	background-color:darkcyan;
	color: forestgreen;
}

h1 {
	color: lightgrey;
	text-align: center;
	font-family: 'Verdana';
}

.center-box {
	font-family: 'Cabin';
	font-size: 24;
	text-align: center;
	width: 100%;
	color:cornsilk;
	position: absolute;
	bottom: 55%;
}

.footer {
	color: lightgray;
	font-size: 8;
	text-align: center;
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
}
