	body {
		background-color: darkcyan;
		color: forestgreen;
	}

	h1 {
		color: lightgrey;
		text-align: center;
		font-family: 'Lobster';
	}

	.row {
		color: black;
	}

	.center-box {
		text-align: center;
		width: 100%;
		color: cornsilk;
		position: inherit;
	}

	.footer {
		color: lightgray;
		font-size: 8;
		text-align: center;
		width: 100%;
		height: 20px;
		position: inherit;
		bottom: 0;
	}

	.new-entry-box {
		border-radius: 2em;
		font-family: monospace;
		font-size: 12px;
		color: aliceblue;
		background-color: darkblue;
		text-align: left;
		position: inherit;
		margin-top: -10px;
		padding-left: 2%;
		padding-right: 2%;
	}

	.result {
		position: inherit;
	}

	.inputField {
		text-align: center;
		border-radius: 3em;
		border-style: groove;
		width: 30%;
		color: aquamarine;
		background-color: darkcyan;
	}
